body#main-content{
    margin: 0 auto;
    color: #000000;
    background-color: #f8dce0;
    background-image: url("img/back.jpg")
  }
  #header{
    text-align: center;
  }
  #main{
    width: 540px;
    float: right;
    padding-right:0px;
    padding: left 20;

  }
  #side{
    width: 180px;
    float: left;
  }
  #footer{
    clear: both;
    width: 800px;
  }
  img{
      text-align: center;
  }
.main-content{
    width:800px;
  }
.sub-content{
    width: 600px;
}

  p#profile{
      width:300px;
      padding-left:20px;
      padding-right:20px;
  }
  p#profile-sub{
      line-height: 18px;
      font-size: 14px;
  }
  p#news-title{
    text-align: center;
    padding-top:100px;
    padding-bottom: 100px;
  }
  #news{
      padding-top:40px;
      padding-bottom:20px;
      border-top:solid #000000 ;
      border-bottom:solid #000000;
      border-top-width: thin;
      border-bottom-width: thin;
      font-weight: 800;
  }
  #award-list{
    font-weight: 600;
  }
  table#movie-list{
      padding-left: 80px;
      padding-top: 30px;
      font-weight: 800;
      border-bottom: solid #000000;
      border-bottom-width: thin;
    }
body#side-bar{
    background-color: rgb(236, 235, 254);
    background-image: none;
    width: auto;
}    
ul#menu-list{
    line-height: 60px;
    list-style: none;
}

a{
    color: blue;
}

table th#movie-day{
    width: 200px;
}
table th#movie-name{
    width: 300px;
}
table th#movie-other{
    width: 150px;
}